body {
    background-color: #99D9EA;
    margin-bottom: 5%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;      
    position: relative;              
    padding: 10px;
    background-color: #000000d7;
    color: #ffffff;
    height: 5%;
    max-height: 5%;
    margin-bottom: 2em;
}

.logo {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    margin-right: 25px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.tablita {
    display: flex;
    flex-flow: row nowrap;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    border-radius: 10px;
    overflow-x: auto;
    background-color: #000;
}

.columnita {
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    gap: 5px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    min-height: 130vh;
}

.itemcito {
    flex: 1;
    border: 2px solid #000;
    border-radius: 5px;
    min-width: 0px;
    background-color: #87CEEB;
    color: #000;
    max-height: calc(100% / 7);
    height: calc(100% / 7);
    padding: 5px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.imagen_Integrante {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

.imagen_Integrante:hover {
    filter: grayscale(100%);
}

#logo-poli {
    transition: transform 0.3s ease;
}

#logo-poli:hover {
    animation: vibrar 0.2s linear infinite;
}

@keyframes vibrar {
    0%,100% {
        transform: translateX(0) rotate(0);
    }
    25% {
        transform: translateX(-5px) rotate(-2deg);
    }
    50% {
        transform: translateX(5px) rotate(2deg);
    }
    75% {
        transform: translateX(-5px) rotate(-1deg);
    }
}
