.body {
    background-color: #f0f0f0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000d7;
    color: #ffffff;
    height: 5%;
    max-height: 5%;
    margin-bottom: 2em;
}

.header h1 {
    flex-grow: 1;
}

#logo-poli {
    max-width: 100%; 
    height: auto; 
    max-height: 40px;  
    object-fit: contain;  
}

.logo img {
    display: flex;
    flex-shrink: 2;
    width: auto;
    height: 10%;
}

.tablita {
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #1b1b1b;
    border-radius: 10px;
}

.filita {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: left;
    align-items: stretch;
    width: 100%;
}

.itemcito {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    border: 2px solid #1b1b1b;
    border-radius: 5px;
}

.fotito {
    display: flex;
    flex-grow: 1.35;
    border: 2px solid #1b1b1b;
    border-radius: 5px;
}

#logo-poli{
    max-height: 10%;
    transition: transform 0.3s ease;
}

#logo-link:hover #logo-poli {
    animation: vibrar 1s linear infinite;
}

@keyframes vibrar {
    0%, 100% { transform: translateX(0) rotate(0); }
    25% { transform: translateX(-3px) rotate(-2deg); }
    50% { transform: translateX(3px) rotate(2deg); }
    75% { transform: translateX(-3px) rotate(-1deg); }
}

