body {
    background-color: #f0f0f0;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000d7;
    color: #f0f0f0;
}

.tablita {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: space-evenly;
}

.filita {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 5px;
    justify-content: left;
}

.itemcito {
    display: flex;
    flex-grow: 1;
}

.fotito {
    display: flex;
    flex-grow: 2;
}
>>>>>>> 77652b8f47916cdee582e8c48a68dc6f92c4d219